.page-maps {
    height: 100%;
    position: relative;
    &__box {
        height: 100%;
        iframe {
            position: absolute;
            width: 100%;
            height: 100%;
            display: block;
            outline: none;
        }
    }
    &__back {
        position: absolute;
        width: 40px;
        height: 40px;
        background: #fff;
        z-index: 100;
        border-radius: 100%;
        box-shadow: -8px 8px 14px 0 rgba(25, 42, 70, .11);
        top: 10px;
        right: 10px;
        a {
            height: 100%;
            @include flexbox();
            @include align-items(center);
        }
        i {
            color: $black;
            font-size: 20px;
        }
    }
    &__list {
        position: absolute;
        left: 14px;
        bottom: 30px;
        width: calc(100% - 28px);
        z-index: 100;
        .slick-track {
            margin: 0 0 0 -24px;
            >div {
                padding: 0 7px;
            }
        }
        &-item {
            outline: none;
            padding: 14px;
            &.active {
                .star {
                    > i.la-location-arrow,
                    >a i.la-location-arrow {
                        color: $color-price-app;
                    }
                }
            }
            .star {
                position: relative;
                i {
                    color: $color-app;
                    margin-right: 2px;
                    font-size: 13px;
                }
                > i.la-location-arrow,
                > a {
                    color: #9a94a9;
                    position: absolute;
                    font-size: 25px;
                    right: 0;
                    top: 0;
                    margin-right: 0;
                    i {
                        font-size: 25px;
                    }
                }
            }
            h3 {
                margin: 8px 0 10px 0;
                font-size: var(--font-size-xl, $size-xl);
                text-transform: capitalize;
            }
            ul {
                li {
                    margin-top: 5px;
                    &.time {
                        span {
                            position: relative;
                            color: #00c851;
                            font-size: var(--font-size-base, $size-base);
                            font-weight: 400;
                            padding-left: 10px;
                            font-weight: 300;
                            &::before {
                                content: "";
                                width: 4px;
                                height: 4px;
                                border-radius: 100%;
                                position: absolute;
                                background: #00c851;
                                top: 5px;
                                left: 0;
                            }
                        }
                    }
                    &.address,
                    &.phone {
                        font-size: var(--font-size-base, $size-base);
                        font-weight: 500;
                        line-height: 20px;
                        i {
                            font-size: 16px;
                            margin-right: 8px;
                        }
                    }
                    &.address {
                        @include flexbox();
                        //@include align-items(center);
                        p {
                            margin: 0;
                        }
                    }
                }
            }
        }
        &-pd {
            padding: 14px;
            box-shadow: -8px 8px 14px 0 rgba(25, 42, 70, .11);
            background: #fff;
            border-radius: .25rem;
        }
    }
}

.page-maps2 {
    display: flex;
    flex-direction: column;
    .maps {
        flex-grow: 1;
        iframe {
            width: 100%;
            height: 100%;
            display: block;
        }
    }
    .list {
        margin: 0;
        height: 160px;
        background: #f5f5f9;
        overflow: auto;
        padding: 0 16px 16px 16px;
        &.list-stocks {
            flex: 1;
            height: auto;
        }
        .item-stock {
            background: #fff;
            margin-bottom: 15px;
            border-radius: 5px;
            border: 1px solid #EBEDF3;
            padding: 12px;
            transition: all 300ms ease;
            &:last-child {
                margin-bottom: 0;
            }
            ._title {
                font-size: 16px;
                font-weight: 600;
                margin-bottom: 10px;
            }
            ._address {
                display: flex;
                font-size: 14px;
                i {
                    margin-right: 5px; 
                    font-size: 20px;
                }
                p {
                    margin: 0;
                }
            }
            ._work {
                display: flex;
                justify-content: space-between;
                color: var(--f7-theme-color);
                margin-top: 10px;
                font-size: 14px;
                ._phone,
                ._support {
                    display: flex;
                    align-items: center;
                    i {
                        margin-right: 5px; 
                        font-size: 22px;
                    }
                }
                ._phone {
                    i { 
                        font-size: 20px;
                    }
                }
            }
            &.active {
                border: 1px solid var(--ezs-color);
                ._title {
                    color: var(--ezs-color);
                }
            }
        }
    }

    .map-total {
        display: flex;
        justify-content: center;
    }
}

.picker-select {
    position: fixed;
    z-index: 100002;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    ._bg {
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgb(0 0 0 / 50%);
        z-index: 1;
    }
    .picker-select-wrap {
        position: absolute;
        z-index: 10;
        background: #fff;
        width: 100%;
        height: auto;
        bottom: 0;
        left: 0;
        border-radius: 10px 10px 0 0;

        ._body {
            max-height: 75vh;
            overflow: auto;
        }
    }
    ._header {
        border-bottom: 1px solid #EBEDF3;
        display: flex;
        justify-content: center;
        position: relative;
        padding: 16px;
        font-weight: 600;
        font-size: 15px;
    }
    ._close {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 16px;
        width: 42px;
        height: 42px;
        display: flex;
        align-items: center;
        justify-content: center;
        i {
            font-size: 20px;
            opacity: .8;
        }
    }

    ._body {
        .item {
            border-bottom: 1px solid #EBEDF3;
            padding: 15px 16px;
            position: relative;
            i {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 16px;
                font-size: 18px;
                display: none;
            }
            &.text-app2 {
                i {
                    display: block;
                    color: var(--ezs-color);
                }
                
            }
        }
    }

    

    
}

.box-filter {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    padding: 16px 16px;
    gap: 16px;
}

.picker-input-wrap {
    position: relative;
    input {
        width: 100%;
        height: 42px;
        padding: 12px 40px 12px 12px;
        box-sizing: border-box;
        border: 1px solid #EBEDF3;
        border-radius: 5px;
    }
    .down-icon {
        display: flex;
        top: 0;
        right: 0;
        position: absolute;
        height: 100%;
        > div {
            width: 45px;
            display: flex;
            justify-content: center;
            align-items: center;
            i {
                font-size: 16px;
            }
        }
        .down-icon-clear {
            position: relative;
            &:after {
                position: absolute;
                content: "";
                width: 1px;
                height: 25px;
                background: #dfdfdf;
                right: 0;
            }
        }
    }
    // .las {
    //     position: absolute;
    //     right: 0;
    //     top: 50%;
    //     transform: translateY(-50%);
    //     width: 30px;
    //     display: flex;
    //     align-items: center;
    // }
    
}
.map-total {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    i {
        font-size: 19px; 
        margin-right: 5px;
    }
}

.wrap-filter {
    padding-bottom: 15px;
}